<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bievenido, ingresa el usuario de git para obtener su informacion</h1>

    <div name="barra">
    <form action="" id="userBuscado" method="get"  onsubmit="usuario()">
        <input type="text" name="" id="usuario" autocomplete="off" placeholder="usuario github" required>
        <input type="submit" value="buscar">
    </form>
    </div>
    
    <div id="infoUsuarioBuscado"></div>
</body>
</html>