<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<h1>Usuario</h1>
    <div id="infoUsuarioBuscado">
         <h2>{{data.nombre}}</h2>
        <img src="{{data.avatar}}" src="{{data.nombre}}">
    </div>
    <div>
        <p>El número de repositorios públicos que tiene es de: {{data.repositorio}}</p>
    </div>
</body>

</html>