<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        background-color: cadetblue;
    }
    span {
        font-size: xx-large;
    }
</style>
<body>
    <center>
<h1>Usuario:</h1>
    <div id="infoUsuarioBuscado">
         <h2><u>{{data.nombre}}</u></h2>
        <img src="{{data.avatar}}" src="{{data.nombre}}">
    </div>
    <div>
        <p>El número de repositorios públicos que tiene es de:<br>
        <span> {{data.repositorio}}</span></p>
    </div>
    </center>
</body>

</html>